.friendsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#againAvatars img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.centerText {
    text-align: center;
    color: darkred;
}