.dialogs{
    display: grid;
    grid-template-columns: 2fr 6fr;
    padding: 10px;
}

#avatars img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
} 

.dialogItems{
    align-content: left;
}

.correctText{
    text-align: center;
} 

.centerTextArea {
    margin: 0 auto;
    grid-column: 1 / span 2;
    width: 250px;
    height: 70px;
}

.centerButtonSend {
    margin: 0 auto;
    grid-column: 1 / span 2;
    margin-top: 20px;
    width: 100px;
}
